body {
	background-color: #333;
	color: white;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 80%;
}

.rocket {
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url(wrocket.png);
	bottom: 60px;
	transform: rotate(40deg);
	margin-left: 30px;
}

.Insrocket {
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 0px;
	transform: rotate(40deg);
	margin-left: 30px;
}


.obstacle {
	position: absolute;
	width: 80px;
	height: 60px;
	background-image: url(asteroid.png);
	bottom: 60px;        
}

.Insobstacle {
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url(asteroid.png);
	bottom: 0px; 
	left: 240px;       
}

#lunarSurface {
  position: absolute;
  bottom: 40px;
 /* background-image: url('t-rex-background.png'); */
 /* background-image: linear-gradient(to right, rgb(43 141 144 / 66%), rgb(197 66 66 / 79%)); */
 background-color: black;
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 520px;
  margin-left: -10px;
}

.scoreLabel {
  margin-left: 30px;
}

#alert {
  padding: 200px 0px 20px 0px;
 /* background-color: #f44336; */
  color: white;
  /*margin-bottom: 150px; */
  text-align: center;

}

.upperbox {
  background: #333; 
  height: 60px;
  z-index: 10;
  position: sticky;
  border-bottom: 2px solid white;
}

.instructions {
	border: 4px solid white;
	border-radius: 6%;
	padding: 10px;
	margin-left: 4px;
	width: 40%;	
}

.infobox {
	width: auto;
	height: 64px;

}

.footer {
background: #333;
z-index: 10;
position: absolute;
height: 55px;
width:100%;
bottom:0px;
border-top: 2px solid white;
}

/* Used if want a background image it will cause image to scroll */

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}